/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~rc-slider/assets/index.css';
@import '~mapbox-gl/dist/mapbox-gl.css';

@font-face {
  font-family: 'Rubik';
  src: url('./_assets/fonts/Rubik-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Rubik';
  src: url('./_assets/fonts/Rubik-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Rubik';
  src: url('./_assets/fonts/Rubik-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Rubik';
  src: url('./_assets/fonts/Rubik-Bold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Rubik';
  src: url('./_assets/fonts/Rubik-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Rubik';
  src: url('./_assets/fonts/Rubik-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Rubik';
  src: url('./_assets/fonts/Rubik-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Rubik';
  src: url('./_assets/fonts/Rubik-BoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

html {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

#root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Rubik, Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eff0f5;

  /* background-color: #282c34; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mapboxgl-popup {
  position: relative;
}

.mapboxgl-popup-content {
  font: 400 12px 'Rubik', 'Helvetica Neue', Sans-serif;
  padding: 0;
  background-color: white;
}

.mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-popup-content h3 {
  background: #91c949;
  color: #fff;
  margin: 0;
  display: block;
  padding: 10px;
  border-radius: 3px 3px 0 0;
  font-weight: 700;
  margin-top: -15px;
}

.mapboxgl-popup-content h4 {
  margin: 0;
  display: block;
  padding: 10px;
  font-weight: 400;
}

.mapboxgl-popup-content div {
  padding: 10px;
}

.mapboxgl-container .leaflet-marker-icon {
  cursor: pointer;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
  margin-top: 15px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
  border-bottom-color: #91c949;
}
