.trendsContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 10px;
}

.singleTrend {
  width: 100%;
}

.singleTrend:first-child {
  margin-right: 20px;
}

.singleTrend:nth-child(2) {
  margin-left: 20px;
}

.chartTitle {
  font-size: 14px;
  font-weight: 500;
  color: #4a4a4a;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-decoration: underline;
}

.tabContainer {
  margin-bottom: 20px;
}
